.site-header,
.main-menu__nav,
.main-menu__nav-item {
    display: flex;
    align-items: center;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.site-header__content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--site-max-w);
    padding: 98px;
    display: flex;
    justify-content: space-between;
}

.site-header .logo__img {
    max-width: 198px;
}

.main-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu__nav {
    flex: grow;
}

.main-menu__nav-link {
    position: relative;
    padding: 0 20px 0 0;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    padding: 0.5rem 1rem;
    transition: .25s;
}

.main-menu__nav-link:after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #333;
    transition: .25s;
}

.main-menu__nav-link:hover:after, .main-menu__nav-link:focus:after {
    width: 100%;
}

.main-menu__nav-link:focus {
    outline: 2px solid #860707;
    outline-offset: 2px;
    border-radius: 4px;
}

.logo {
    z-index: 999;
    left: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.menu__btn {
    display: none;
    position: fixed;
    right: 20px; 
    top: 20px;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 4px;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.menu__btn span::before,
.menu__btn span::after {
    content: '';
    left: 0;
}

.menu__btn span::before {
    top: -8px;
}

.menu__btn span::after {
    top: 8px;
}

#menu__toggle {
   display: none;
}


/* Adaptation layout de la page au header */
main {
    margin-top: var(--header-height);
}

@media screen and (max-width: 1000px) {

    .site-header {
        height: 120px;
        background-color: var(--cite-yellow);
        padding: 0;
    }

    .site-header__content {
        padding: 0;
        height: var(--header-height);
    }

    .site-header .logo__img {
        max-width: 110px;
    }

    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .main-menu {
        position: fixed;
        top: 120px;
        left: -100vw; 
        width: 100vw; 
        height: calc(100vh - var(--header-height));
        background-color: white;
        transition: transform 0.3s ease-in-out;
        z-index: 900;
        justify-content: flex-start;
    }
 
    .menu__btn {
        margin: 10px;
        display: block;
    }

    #menu__toggle {
        display: block;
        visibility: hidden;
    }

    #menu__toggle:checked ~ .main-menu {
        transform: translateX(100vw); 
    }

    #menu__toggle:checked ~ .menu__btn span {
        background-color: transparent;
    }

    #menu__toggle:checked ~ .menu__btn span::before,
    #menu__toggle:checked ~ .menu__btn span::after {
        top: 0;
    }

    #menu__toggle:checked ~ .menu__btn span::before {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn span::after {
        transform: rotate(-45deg);
    }


    .main-menu__nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .main-menu__nav-link {
        padding: 10px 20px;
        justify-content: center;
    }  
}