body .section {
    max-width: var(--site-max-w);
    padding: 0;
    margin: 0 auto;
}

/* Lien d'évitement pour permettre d'éviter le header pour les utilisateur qui naviguent via le clavier */
body a.skip {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em ;
    position: absolute ;
    left: -99999rem ;
    z-index: 100 ;
}

body a.skip:focus {
    left: 0;
}

body .bg-grey {
    background-color: var(--cite-grey);
}

body .bg-yellow {
    background-color: var(--cite-yellow);
}


body .bg-grey-90 {
    background-color: var(--cite-grey-90);
}


/* Covivio and form section specific style */
body .covivio-section .section-content, body .contact-section .section-content {
    padding: 100px 121px;
    display: flex;
    flex-direction: column;
}

body .contact-section .section-content {
    gap: 20px; 
}

body .covivio-section .section-content {
    gap: 34px;
}

body .covivio-section .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body .covivio-section .paragraph-container {
    margin: 0 auto;
    max-width: 1172px;
}

body .covivio-section .paragraph-container p {
    margin-bottom: 17px;
    font-weight: 400;
    font-style: normal;
    font-size: 16.5px;
    letter-spacing: .02em;
    line-height: 1.9em;
    text-transform: none;
}

body .paragraph-container p a.cite-link-underline {
    color: #000;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .5);
    transition: 0.1s background-color linear, 0.1s color linear;
}

body .covivio-section .paragraph-container a:hover {
    background-color: white;
}

@media  screen and (max-width: 1024px) {
    body .covivio-section .section-content, body .contact-section .section-content {
        padding: 70px 10px;
    }
    
}