body {
    font-family: 'Freight Sans Pro', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
    /* font-family: 'Museo Slab', 'Arial', sans-serif; */
    font-family: "Noto Sans", 'Arial', sans-serif;
    font-optical-sizing: auto;
}

body p, body a, body li {
    font-family: 'Freight Sans Pro';
}

.site-header .main-menu .nav-link {
    font-family: 'Freight Sans Pro';
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .25em;
}

.section .titles-container h2, .section .titles-container h3 {
    text-transform: uppercase;
}

/* Generic class for title */

.title-xl {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 35px;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.title-lg {
    margin-top : 15px;
    margin-bottom: 15px;
    font-family: 'Freight Sans Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .25em;
    line-height: 2em;
    text-transform: uppercase;
}

/* Generic class for texts */

.text-lg {
    font-family: 'Freight Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-size: 16.5px;
    letter-spacing: .02em;
    line-height: 1.9em;
    text-transform: none;
    color: #000;
    word-wrap: break-word;
}

/* Utilities */
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-nospace {
    white-space: nowrap;
}

.text-bold {
    font-weight: 600;
}

.text-semibold {
    font-weight: 500;
}

.visually-hidden {
    visibility: hidden;
}

.cite-link {
    font-family: 'Freight Sans Pro';
    padding: 0.5em 2em;
    transition: 0.1s background-color linear, 0.1s color linear;
    background-color: var(--cite-yellow);
    color: #111111;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .25em;
    line-height: 1.9em;
    
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.cite-link:hover, .cite-link:focus {
    background-color: #272727;
    color: #fff;
}

